table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid #4fc3f7;
}

th {
    background-color: #4fc3f7;
    color: #1a237e;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: 1px solid rgba(79, 195, 247, 0.3);
}

tr:hover {
    background-color: rgba(79, 195, 247, 0.1);
    cursor: pointer;
}

button {
    background-color: #4fc3f7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 85% 100%, 0 100%);
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #4fc3f7;
}

h2 {
    color: #4fc3f7;
    border-left: 5px solid #4fc3f7;
    padding-left: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
}


/*index*/
.btn-main {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 40px;
    background-color: #4fc3f7;
    color: #1a237e;
    font-weight: bold;
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    transition: 0.3s;
}

.btn-main:hover {
    background-color: #fff;
    transform: translateY(-5px);
}

.feature-card {
    background: rgba(26, 35, 126, 0.4);
    border: 2px solid #4fc3f7;
    padding: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.feature-card:hover {
    background: #4fc3f7;
    transform: translateY(-5px);
}

.feature-card:hover h3, 
.feature-card:hover p {
    color: #1a237e;
}

.feature-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem; /*19.2px, это эксперименты?*/
    color: #4fc3f7;
}